.selector {
    &-non-mobile {
        background: white;
        height: 50vh;
        width: 15vw;
        margin-right: 1em;
        @include createShadow();
        @include flexColumnCenter(space-evenly)
    }

    &-mobile {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background: white;
        width: 90vw;
        height: 10vh;
        margin-bottom: 1em;
        @include createShadow();
    }
}

.layout-btn {
    background: none;
    border: none;
    @include flexColumnCenter(center);

    img {
        height: 5em;
        width: 5em;
        pointer-events: none;
    }

    p {
        pointer-events: none;
    }

    &:hover {
        cursor: pointer;
    }

    &-mobile {
        background: none;
        border: none;
        border-radius: 2px;
        height: 100%;
        font-weight: 700;
        color: $darkblue;
        padding: 0.2em;

        img {
            height: 3em;
            width: 3em;
            pointer-events: none;
            color: $orange;
        }
    
        p {
            font-size: 0.8em;
            pointer-events: none;
        }

        &:hover {
            cursor: pointer;
        }
    }
}

.button-row {
    width: 90%;
    height: 100%;
    @include flexRowCenter(space-around);
}

@media screen and (min-width: 900px) and (max-width: 1280px) {
    .layout-btn img {
        height: 3.5em;
        width: 3.5em;
    }
}

@media screen and (min-width: 960px) {
    .layout-btn-mobile p {
        font-size: 1em;
    }
}


@media screen and (min-width: 600) {
    .layout-btn-mobile p {
        font-size: 0.7em;
    }
}

@media screen and (min-width: 400) {
    .layout-btn-mobile p {
        font-size: 0.85em;
    }
}