$ubuntu: 'Ubuntu', sans-serif;
$roboto: 'Roboto', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$fredoka-one: 'Fredoka One', cursive;

$blue: #0098bd;
$darkblue: #404748;
$grey: #a9a9a9;
$offwhite: #f8f8f8;
$orange: #e07a5f;